<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
</head>
<body>
    <table >
        {% for notification in notifications %}
        <tr>
            <td>{{notification.notification_id}}</td>
            <td>{{notification.status}}</td>
            <td>{{notification.date}}</td>
            <td>{{notification.recipient}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>