<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipts</title>
</head>
<body>
    <table >
        {% for receipt in receipts %}
        <tr>
            <td>{{receipt.receipt_type}}</td>
            <td>{{receipt.receipt_date}}</td>
            <td>{{receipt.date}}</td>
            <td>{{receipt.total_Amount}}</td>
            <td>{{receipt.account}}</td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>