<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction</title>
</head>
<body>
    <table >
        {% for transaction in transactions %}
        <tr>
            <td>{{Transaction.transaction_ref}}</td>
            <td>{{Transaction.wallet}}</td>
            <td>{{Transaction.transaction_type}}</td>
            <td>{{Transaction.transaction_charge}}</td>
            <td>{{Transaction.transaction_date}}</td>
            <td>{{Transaction.original_account}}</td>
            <td>{{Transaction.destination_account}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>